@model WebTN_MVC.Models.Product.Product
    @inject AdminSidebarService _AdminSidebarService
@{
    ViewData["Title"] = "Xoá sản phẩm";
}

<p>Có chắc muốn xoá sản phẩm?</p>
<div>
    <h4>@Model.Title</h4>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách sản phẩm</a>
    </form>
</div>

@{
    _AdminSidebarService.SetActive("ProductManage", "Index", "Product");
}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}
