@model WebTN_MVC.Models.Blog.Post
@inject AdminSidebarService _AdminSidebarService
@{
    ViewData["Title"] = "Xoá bài viết";
}



<p>Có chắc muốn xoá bài viết?</p>
<div>
    <h4>@Model.Title</h4>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="PostId" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách bài viết</a>
    </form>
</div>

@{
    _AdminSidebarService.SetActive("Post", "Index", "Blog");
}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}
