@model WebTN_MVC.Models.Product.CategoryProduct
@inject AdminSidebarService _AdminSidebarService
@{
    ViewData["Title"] = Model.Title;
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nội dung
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
        <dt class="col-sm-2">
            URL
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a> |
    <a asp-action="Index">Danh sách chuyên mục sản phẩm</a>
</div>

@{
    _AdminSidebarService.SetActive("CategoryProduct", "Index", "Product");
}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}